Source: libpve-access-control
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 9.0.0~),
               libauthen-pam-perl,
               libnet-ldap-perl,
               libpve-common-perl,
               lintian,
               perl (>= 5.10.0-19),
               pve-cluster,
               pve-doc-generator (>= 5.3-3),
Standards-Version: 3.9.5
Homepage: http://www.proxmox.com

Package: libpve-access-control
Architecture: any
Depends: libauthen-pam-perl,
         libc6 (>= 2.3),
         libcrypt-openssl-random-perl,
         libcrypt-openssl-rsa-perl,
         libjson-perl,
         libjson-xs-perl,
         libmime-base32-perl,
         libnet-ldap-perl,
         libnet-ssleay-perl,
         libpve-common-perl (>= 5.0-35),
         liburi-perl,
         libwww-perl,
         perl (>= 5.6.0-16),
         pve-cluster (>= 5.0-34),
         ${perl:Depends},
Description: Proxmox VE access control library
 This package contains the role based user management and access
 control function used by Proxmox VE.
